---
import { Image } from "astro:assets";
import samplePic from "../../src/pictures/drain bg.webp";
import type { ImageWrapper } from "../../../photo-cms/src/types/apiTypes.ts";

interface Props {
    photoSetImages: ImageWrapper[];
}

const { photoSetImages } = Astro.props;

const thumbnails = photoSetImages.filter((image) => image.isThumbnail);

// max 2 thumbnails
const srcImage_1 = thumbnails[0].image;
const srcImage_2 = thumbnails[1]?.image;

const img2ratio =
    (srcImage_1.height * (srcImage_2.width / srcImage_2.height)) /
    srcImage_1.height;

console.log("--------------------------");
console.log(`img1 normal h x b: ${srcImage_1.height} x ${srcImage_1.width}`);
console.log(`aspect ratio: ${srcImage_1.width / srcImage_1.height} `);
console.log("   ");
console.log(`img2 normal h x b: ${srcImage_2.height} x ${srcImage_2.width}`);
console.log(`aspect ratio: ${srcImage_2.width / srcImage_2.height} `);
console.log("   ");
console.log(`setting to height: ${srcImage_1.height}`);
console.log(`new ratio: ${img2ratio} `);
---

<div class="flex flex-col py-1">
    <div
        class="flex justify-center items-center gap-2 w-[70vw] mx-auto bg-neutral-50"
    >
        <div class="h-auto w-auto bg-amber-600">
            <Image
                src=`http://localhost:3001/${srcImage_1.url}`
                alt=`${srcImage_1.alt}`
                height={srcImage_1.height}
                width={srcImage_1.width}
            />
        </div>

        <div class="h-auto w-auto">
            <Image
                src=`http://localhost:3001/${srcImage_2.url}`
                alt=`${srcImage_2.alt}`
                height={srcImage_1.height}
                width={(srcImage_1.height * srcImage_2.width) /
                    srcImage_2.height}
            />
        </div>
    </div>
</div>
