---
import { Image } from "astro:assets";
import type { ImageWrapper } from "../../../photo-cms/src/types/apiTypes.ts";

interface Props {
    photoSetImages: ImageWrapper[];
}

const { photoSetImages } = Astro.props;

const thumbnails = photoSetImages.filter((image) => image.isThumbnail);

// max 2 thumbnails
const srcImage_1 = thumbnails[0].image;
const srcImage_2 = thumbnails[1]?.image;
---

<div class="flex flex-col py-1">
    <div
        class="flex justify-center items-center gap-2 w-[60vw] mx-auto bg-neutral-50"
    >
        <div class="h-auto w-auto bg-amber-600">
            <Image
                src=`http://localhost:3001/${srcImage_1.url}`
                alt=`${srcImage_1.alt}`
                height={srcImage_1.height}
                width={srcImage_1.width}
            />
        </div>

        {srcImage_2 && <div class="h-auto w-auto">
            <Image
                src=`http://localhost:3001/${srcImage_2.url}`
                alt=`${srcImage_2.alt}`
                height={srcImage_1.height}
                width={(srcImage_1.height * srcImage_2.width) /
                    srcImage_2.height}
            />
        </div>
        }
    </div>
</div>
